body, html{
    height:100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.photo1,.photo2,.photo3{
    
    opacity: 0.70;
    background-attachment: fixed;
}
.photo1{
    background-image: url(image1);
    min-height: 100%;
    
}
.photo2{
    background-image: url(image2);
    min-height: 400px;
}
.photo3{
    background-image: url(image3.jpg);
    min-height: 400px;
}
.border{
    background-color: wheat;
}
.section{
    text-align: center;
    padding: 50px 50px;
}
.section-light{
    background-color: #2b2929;
    color: #ddd;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size:27px;
    letter-spacing: 8px;

}
