html, body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    color: white;
	font: inherit;
	vertical-align: baseline;
}
.indexheader{
    background-color: rgb(68, 68, 73);
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;

}
.indexheader h1{

    margin-top: 0px;
    text-align: justify;
    
    font-weight: 500;
    font-size: 45px;
   
    color: rgb(171, 220, 240);
}
.indexheader h3{
    margin-top: 10pxS;
    text-align: right;
    margin-right: 90px;
   
    color: rgb(236, 86, 169);
}
.indexheader .menu{
    width: 700px;
    
     float: right;
    
}
.indexheader .menu ul li{
    width: 120px;
    color: white;
    float: left;
    margin: 10px auto;
    text-align: center;
}
.indexheader .menu ul li a{
    padding: 10px;
    text-decoration: none;
    color: rgb(251, 252, 253);
}
.indexheader .menu ul a:hover{
    background: grey;
    padding: 10px;

}
.sectionB{
    margin: 0px;
    text-align: center;
    background-color: rgb(184, 154, 187);
    width: 100%;
    height: 240px;
}
.sectionB h1{
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(51, 48, 44);
    
}
.sectionB p{
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(228, 216, 200);
    
}
table {
    margin-bottom: 44px;
    width: 100%;
  }
 
  
  th,
  td {
    padding-bottom: 22px;
    vertical-align: top;
  }
  th {
    padding-right: 45px;
    text-align: right;
    width: 20%;
  }
  td {
    width: 40%;
  }
  
  thead {
    line-height: 44px;
  }
  thead th {
    color: #648880;
    font-size: 24px;
  }
  
  tbody th {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
  }
  
  tbody td {
    border-top: 1px solid #dfe2e5;
    padding-top: 21px;
  }
  
  table a {
    color: #888;
  }
  
  
  .schedule-offset {
    color: #a9b2b9;
  }
  