
 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 1em 0;
  }

  p {
    margin: 0;
    padding: 1em 0;
  }
  .button{
    
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
  }
 #headerid{
    min-height: 450px;
    color: #fff;
    text-align: center;
}
 .headerImage{
     position: absolute;
     background-image: url(landingImage);
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.8;
 }

 .content{
    
        padding: 0 2.5em;
      
 }

 #sectionA{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;

 }
 #SectionB{
     padding: 2em 1em 1em;
 }
 #SectionB ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #SectionB li{
      margin-bottom: 1em;
      background: #fff;
      color: #333;
  }
  #sectionC
  {
    background: rgb(17, 146, 71);
    color: rgb(229, 234, 236);
    padding-bottom: 2em;

 }
 #sectionD .sec{
     padding: 2em;
     color: #fff;
 }
 #sectionD .sec:first-child{
     background: #89e7d0;
 }

 #section-b ul {
    grid-column: 2/4;
  }
@media{
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    #sectionA .content-text{
        columns: 2;
        column-gap: 2em;
    }
    #sectionA .content-text p{
        padding-top: 0;
    }
    .content,#SectionB ul{
        grid-column: 2/4;
    }
    .sec{
        grid-column: span 2;
    }
    #SectionB ul{
        display: flex;
        justify-content:space-around;
    }
}
 
  
  